<!--
@name= dni-validator.component.html
@author= Quiles and Felipe
@version= 1.0
@date = 31-01-2021
-->
<h1 class="jumbotron">DNI VALIDATOR</h1>

<div class="d-flex justify-content-center">
    <form #DniValidatorComponent="ngForm" (submit)="ValidateDNI()" class="form-group " action="">
        <legend>DNI Form</legend>
        <div>
            <label>Full Name* &nbsp;</label>
            <p>
                <input type="text" class="form-control col-12" name="fullName" #fullName="ngModel" [(ngModel)]="DNISelected.$fullName"
                    required>
            </p>
            <!-- Name Validator -->
            <div class="text-danger" *ngIf="fullName.invalid && fullName.dirty && fullName.touched">
                <p><small *ngIf="fullName.errors?.required">Invalid name.</small></p>
            </div>
        </div>
        <label>DNI Numbers* &nbsp;</label>
        
        <!-- We use this ngIf to disable the inputs. -->
        <div *ngIf="flag == false">
            <p>
                <input type="number" class="form-control col-12" name="numberDNI" #numberDNI="ngModel"
                    [(ngModel)]="DNISelected.$dniNumbers" appMinLengthDNI appMaxLengthDNI required>
            </p>
            <!-- Number Validator -->
            <div class="text-danger" *ngIf="numberDNI.invalid && numberDNI.dirty && numberDNI.touched">
                <p><small *ngIf="numberDNI.errors?.incorrectMinLength">DNI must be at least 2 character long.</small>
                </p>
                <p><small *ngIf="numberDNI.errors?.incorrectMaxLength">DNI must be up to 8 character long.</small></p>
                <p><small *ngIf="numberDNI.errors?.required">DNI number is required.</small></p>
            </div>
        </div>
        <div *ngIf = "flag == true">
            <p>
                <input type="number" class="form-control col-12" name="numberDNI" #numberDNI="ngModel"
                    [(ngModel)]="DNISelected.$dniNumbers" disabled>
            </p>
        </div>
        <label>DNI Letter*</label>

        <!-- We use this ngIf to disable the inputs. -->
        <div *ngIf="flag==false">
            <p>
                <input type="text" id="dniLetter" class="form-control" name="letterDNI" #letterDNI="ngModel"
                    [(ngModel)]="DNISelected.$dniLetter" oninput="this.value = this.value.toUpperCase()" appPatternDNI
                    required>
            </p>
            <!-- Letter Validator -->
            <div class="text-danger" *ngIf="letterDNI.invalid && letterDNI.dirty && letterDNI.touched">
                <p><small *ngIf="letterDNI?.errors?.incorrectLetter">Only a letter must be used and must be a valid
                        letter</small></p>
                <p><small *ngIf="letterDNI.errors?.required">DNI letter is required.</small></p>

            </div>
        </div>
        <div *ngIf="flag == true">
            <input type="text" id="dniLetter" class="form-control" name="letterDNI" #letterDNI="ngModel"
                    [(ngModel)]="DNISelected.$dniLetter" oninput="this.value = this.value.toUpperCase()"
                    disabled>
        </div>
        <p><small>Required <strong>*</strong></small></p>

        <!-- We use this ngIf to load one element or another depending on the flag. -->
        <div *ngIf="flag == false">
            <button type="submit" class="btn btn-primary" [disabled]="!DniValidatorComponent.valid">Add to DDBB</button>
        </div>
        <div *ngIf="flag == true">
            <button type="submit" class="btn btn-primary" [disabled]="!DniValidatorComponent.valid" (click)="reset()">Back to Add DNI</button>
        </div>
        

        <div>
            <br>
            <p *ngIf="checked == true" class="text-primary">
                The DNI {{DNISelected.dniNumbers}}-{{DNISelected.dniLetter}} added to DDBB.
            </p>
            <p *ngIf="checked == false" class="text-danger">
                The DNI {{DNISelected.dniNumbers}}-{{DNISelected.dniLetter}} is invalid.
            </p>
        </div>

    </form>
    
    <div class="container well">
        <form #DNIFilterForm="ngForm" novalidate>
            <table class="table table-striped">
                <tr>
                    <td>Filter numbers</td>
                    <td>
                        <input type="range" min="10" max="99999999" [(ngModel)]="totalDNINumbers" name="totalDNINumbers"
                            (ngModelChange)="filter()">
                        <b>{{totalDNINumbers}}</b>
                    </td>
                </tr>
                <tr>
                    <td>Filter by name</td>
                    <td>
                        <input type="text" [(ngModel)]="nameFilter" name="nameFilter" (ngModelChange)="filter()">
                    </td>
                </tr>
                <tr>
                    <td>
                        Current Page
                    </td>
                    <td>
                        {{currentPage}}
                    </td>
                </tr>
                <tr>
                    <td>DNIs per page</td>
                    <td>
                        <input type="number" [(ngModel)]="itemsPerPage" name="itemsPerPage">
                    </td>
                </tr>
                <tr>
                    <td>DNIs found</td>
                    <td>{{DNIFiltered.length}}</td>
                </tr>

            </table>
        </form>
        <form #DNIManagementForm="ngForm" novalidate>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>DNI Numbers</th>
                        <th>DNI Letter</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dni of
                    DNIFiltered | 
                 paginate: {
                     itemsPerPage: itemsPerPage,
                     currentPage: currentPage
                 }">
                        <td>{{dni.fullName}}</td>
                        <td>{{dni.dniNumbers}}</td>
                        <td>{{dni.dniLetter}}</td>
                        <td>
                            <button class="btn btn-danger" (click)="removeRes(dni)">
                                DELETE</button>
                        </td>
                        <td>
                            <button class="btn btn-primary" (click)="onClick(dni)">
                                ACCESS
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="currentPage=$event" maxSize="5" directionLinks="true" autoHide="true">
            </pagination-controls>
        </form>

    </div>

</div>