<div class="container well">
    <!-- First div will contain filters and 
        pagination params -->
    <form #reservationFilterForm="ngForm" novalidate>
        <table class="table table-striped">
            <tr>
                <td>Filter by price</td>
                <td>
                    <input type="range" min="0" 
                    max="500" [(ngModel)]="priceFilter"
                    name="priceF" (ngModelChange)="filter()"> 
                    <b>{{priceFilter|currency:'EUR'}}</b>
                </td>
            </tr>
            <tr>
                <td>Filter by name</td>
                <td>
                    <input type="text" [(ngModel)]="nameFilter"
                    name="nameFilter" (ngModelChange)="filter()">
                </td>
            </tr>
            <tr>
                <td>
                    Current Page
                </td>
                <td>
                    {{currentPage}}
                </td>
            </tr>
            <tr>
                <td>Reservations per page</td>
                <td>
                    <input type="number" 
                    [(ngModel)]="itemsPerPage"
                    name="itemsPerPage">
                </td>
            </tr>
            <tr>
                <td>Reservations found</td>
                <td>{{reservationsFiltered.length}}</td>
            </tr>

        </table>
    </form>
</div>
<div>
    <!-- Second div will contain an error message
    in case no records are found.
    It will be shown according to a boolean
    in a *ngIf clause -->
</div>
<div class="container well">
    <!-- Div 3 will be shown in case there are records
    to display -->
    <form #reservationManagementForm="ngForm" novalidate>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Customer name</th>
                    <th>Customer email</th>
                    <th>Customer telephone</th>
                    <th>Reservation date</th>
                    <th>Reservation time</th>
                    <th>Reservation price</th>
                    <th>Eliminate reservation</th>
                    <th>Go to</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rv of
                 reservationsFiltered | 
                 paginate: {
                     itemsPerPage: itemsPerPage,
                     currentPage: currentPage
                 }"
                 >
                    <td>{{rv.name}}</td>
                    <td>{{rv.email}}</td>
                    <td>{{rv.phone}}</td>
                    <td>{{rv.reservationDate}}</td>
                    <td>{{rv.reservationTime.$time}}</td>
                    <td>{{rv.totalPrice|currency:'EUR'}}</td>
                    <td>
                        <button class="btn btn-danger"
                        (click)="removeRes(rv)">
                            X</button>
                    </td>
                    <td>
                        <button class="btn btn-primary"
                        (click)="onClick(rv)">
                            Go to
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="currentPage=$event"
            maxSize="5"
            directionLinks="true"
            autoHide="true">
        </pagination-controls>
    </form>
</div>
<app-reservation-entry *ngIf="reservationSelected"
    [reservation]="reservationSelected">
</app-reservation-entry>
