<!--
@name= registration.component.html
@author= Quiles and Felipe
@version= 1.0
@date = 13-02-2021
-->
<h1 class="d-flex justify-content-center jumbotron ">Register</h1>

<div class="d-flex justify-content-center">
    <form class="form-group" #RegistrationComponent="ngForm" (submit)="register()" action="">
        <div *ngIf="showEditForm == false">
            <legend>Register Form</legend>
            <div class="leftSurname">
                <label>Name* &nbsp;</label><br>
                <input type="text" class="form-control col-11" name="name" #name="ngModel"
                    [(ngModel)]="userSelected.$name" required>
            </div>

            <div class="rightSurname">
                <label>Surname &nbsp;</label><br>
                <input type="text" class="form-control col-12" name="surname" #surname="ngModel"
                    [(ngModel)]="userSelected.$surname">

                <!-- Name Validator -->
                <div class="text-danger" *ngIf="name.invalid && name.dirty && name.touched">
                    <small class="text-danger" *ngIf="name.errors?.required">Name is required</small>
                </div>
            </div>
            <div>
                <label>Email* &nbsp;</label><br>
                <input type="text" class="form-control col-12" name="email" #email="ngModel"
                    [(ngModel)]="userSelected.$email" appPatternEmail required>

                <!-- Email Validator -->
                <div class="text-danger" *ngIf="email.invalid && email.dirty && email.touched">
                    <small class="text-danger" *ngIf="email.errors?.invalidEmailPattern">Email format is incorrect.
                    </small>
                    <small class="text-danger" *ngIf="email.errors?.required">Email is required. </small>
                </div>
            </div>
            <div>
                <label>Username* &nbsp;</label><br>
                <input type="text" class="form-control col-12" name="username" #username="ngModel"
                    [(ngModel)]="userSelected.$username" required>

                <!-- Username Validator -->
                <div class="text-danger" *ngIf="username.invalid && username.dirty && username.touched">
                    <small class="text-danger" *ngIf="username.errors?.required">Username is required</small>
                </div>
            </div>

            <div>
                <label>Password* </label><br>
                <input type="password" class="form-control col-12" name="password" #password="ngModel"
                    [(ngModel)]="userSelected.$password" appPatternPassword required>

                <!-- Password Validators -->
                <div class="text-danger" *ngIf="password.invalid && password.dirty && password.touched">
                    <small class="text-danger" *ngIf="password.errors?.invalidPasswordPattern">
                        8 characters, 1 uppercase and 1 lowcase character and 1 number</small>
                    <small class="text-danger" *ngIf="password.errors?.required">Password is required</small>
                </div>
            </div>

            <div>
                <small id="leftSmall">Required <strong>*</strong></small>
            </div>
            <div>
                <button type="submit" class="btn btn-primary col-6"
                    [disabled]="!RegistrationComponent.valid">Register</button>
            </div>

            <div>
                <p *ngIf="flag == true" class="text-danger">Username already in use</p>
                <p *ngIf="flag == false" class="text-primary">Register succesfully</p>
            </div>
        </div>
    </form>


    <div *ngIf="showEditForm == true">
        <form class="form-group" #RegistrationComponent="ngForm" action="">
            <legend>EditForm</legend>
            <div class="leftSurname">
                <label>Name* &nbsp;</label><br>
                <input type="text" class="form-control col-11" name="name" #name="ngModel"
                    [(ngModel)]="userSelected.$name" disabled>
            </div>

            <div class="rightSurname">
                <label>Surname &nbsp;</label><br>
                <input type="text" class="form-control col-12" name="surname" #surname="ngModel"
                    [(ngModel)]="userSelected.$surname" required>
            </div>
            <div>
                <label>Email* &nbsp;</label><br>
                <input type="text" class="form-control col-12" name="email" #email="ngModel"
                    [(ngModel)]="userSelected.$email" required>
            </div>
            <div>
                <label>Username* &nbsp;</label><br>
                <input type="text" class="form-control col-12" name="username" #username="ngModel"
                    [(ngModel)]="userSelected.$username" disabled>

            </div>

            <div>
                <label>Password* </label><br>
                <input type="password" class="form-control col-12" name="password" #password="ngModel"
                    [(ngModel)]="userSelected.$password" required>

                <div>
                    <small id="leftSmall">Required <strong>*</strong></small>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary col-6" (click)="reset()">Register</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container well">
        <form #DNIFilterForm="ngForm" novalidate>
            <table class="table table-striped">
                <tr>
                    <td>Filter by email</td>
                    <td>
                        <input type="text" [(ngModel)]="emailFilter" name="filterEmail" (ngModelChange)="filter()">
                    </td>
                </tr>

                <tr>
                    <td>Filter by surname</td>
                    <td>
                        <input type="text" [(ngModel)]="surnameFilter" name="filterSurname" (ngModelChange)="filter()">
                    </td>
                </tr>
                <tr>
                    <td>Filter by password length</td>
                    <td>
                        <input type="range" min="8" max="32" [(ngModel)]="passwordFilter" name="filterPassword"
                            (ngModelChange)="filter()">
                        <b>{{passwordFilter}}</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        Current Page
                    </td>
                    <td>
                        {{currentPage}}
                    </td>
                </tr>
                <tr>
                    <td>User per page</td>
                    <td>
                        <input type="number" [(ngModel)]="itemsPerPage" name="itemsPerPage">
                    </td>
                </tr>
                <tr>
                    <td>Users found</td>
                    <td>{{userFiltered.length}}</td>
                </tr>

            </table>
        </form>


        <form #DNIManagementForm="ngForm" novalidate>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Email</th>
                        <th>User</th>
                        <th>Password</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of
            userFiltered | 
         paginate: {
             itemsPerPage: itemsPerPage,
             currentPage: currentPage
         }">
                        <td>{{user.name}}</td>
                        <td>{{user.surname}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.password}}</td>
                        <td>
                            <button class="btn btn-danger" (click)="removeUser(user)">
                                DELETE</button>
                        </td>
                        <td>
                            <button class="btn btn-primary" (click)="onClick(user)">
                                ACCESS
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="currentPage=$event" maxSize="5" directionLinks="true" autoHide="true">
            </pagination-controls>
        </form>
    </div>
</div>