<h1 class="d-flex justify-content-center jumbotron">Main Page</h1>
<h1 class="d-flex justify-content-center jumbotron">Work In Progress</h1>
<div class="d-flex justify-content-center jumbotron">
<img src="../../assets/images/welcome.png" alt="WelcomeImg">
</div>