
@keyframes rotate {from {transform: rotate(0deg);}
to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);}}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

#imgIntro{
  animation: 1s slideInFromLeft linear 1; 
}

#imgIntro:hover{
-webkit-animation: 1s rotate linear infinite;
animation: 1s rotate linear infinite;
-webkit-transform-origin: 50% 50%;
transform-origin: 50% 50%;
}



table {
    width: 100%;
  }
 

#cardImg {
    background: none;

}

