<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form #formTest="ngForm" action="">
        <div *ngIf="isLogged; else elseBlock">
            Welcome back, {{user}}
        </div>

        <ng-template #elseBlock>
            Please, log in. 
            <br>
        </ng-template><br>
        <button (click)="changeStatus()">
            <div *ngIf="isLogged; else elseBlock2">Logout</div> 
            <ng-template #elseBlock2>
                Login
            </ng-template><br>
        </button>
    </form>
</body>

</html>