<form #reservationEntryForm = "ngForm" action="">
    <div class="container">
        <h2>Make a reservation in the best restaurant</h2>
    </div>

    <div class="container">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Personal data</h3>
                </div>
            </div>
            <label class="col-sm-2" for="">Name *: </label>
            <div class="col-sm-4">
                <input type="text" name="clientName" #clientName = "ngModel" 
                    [(ngModel)]="objReservation.$name">
            </div><br>
            <label class="col-sm-2" for="">Surname *: </label>

            <div class="col-sm-4">
                <input type="text" name="clientSurname" #clientSurname = "ngModel" 
                    [(ngModel)]="objReservation.$surname">
            </div><br>
            
            <label class="col-sm-2" for="">Phone *: </label>

            <div class="col-sm-4">
                <input type="text" name="clientPhone" #clientPhone = "ngModel" 
                    [(ngModel)]="objReservation.$phone">
            </div><br>

            <div class="row">
                <div class="col-sm-4">
                    <h3>Recommendations</h3>
                </div>
            </div>

            <div class="row">
                <table class="table table-striped">
                    <tr *ngFor="let tempRow of recommendations">
                        <td *ngFor="let tempCol of tempRow">
                            {{tempCol}}
                        </td>
                    </tr>
                </table>
            </div>

            <button class="btn btn-primary" (click)="reservationEntry()">Introduce</button>
        </div>
    </div>
</form>
