<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form #formTest="ngForm" action="">
        <div *ngIf="login; else notShow">
            <p>Welcome the restaurant.{{name}}</p>
        </div>
        
        <ng-template #notShow>
            <p>Introduce correct login</p>
        </ng-template>
    </form>
</body>

</html>