<form name="userManagementForm" #userManagementForm="ngForm">
    <div class="container">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Add new user</h2>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">
                Name:
            </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" 
                #name="ngModel" [(ngModel)]="user.name" name="name" required>
            </div>
            <label for="" class="col-sm-2 control-label">
                Surname:
            </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" 
                #surname1="ngModel" [(ngModel)]="user.surname1"
                name="surname1" required>
            </div>
            <label for="" class="col-sm-2 control-label">
                Nick:
            </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" 
                #nick="ngModel" [(ngModel)]="user.nick"
                name="nick" required>
            </div>
            <label for="" class="col-sm-2 control-label">
                Password:
            </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" 
                #password="ngModel" [(ngModel)]="user.password"
                minlength="6" name="password" required>
                <p class="help-block" *ngIf="password.invalid 
                && (password.dirty || password.touched)">
                    Password can not be empty and must be 6 
                    characters long minimum
                </p>
            </div>

            <label for="" class="col-sm-2 control-label">
                Repeat password:
            </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" 
                #password2="ngModel" [(ngModel)]="passControl"
                name="password2" minlength="6" required 
                (keyup)="checkPassword()">

            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success"
            [disabled]="!userManagementForm.valid">
                Submit
            </button>UserManagementComponent
            <button type="button" class="btn btn-primary">
                Back
            </button>
        </div>
    </div>
</form>