
<h1 class="display-4">Genomics lab</h1>

<form #formValidator="ngForm" (submit)="sendForm()">
  <div class="form-group">
    <label for="codeTestName">DNA Code:</label>
      <input #codeTest="ngModel" [(ngModel)]="codeTestProp" name="codeTestName" type="text" class="form-control"
        placeholder="Introduce your DNA Code" appDNAValidatorDir>
        <small id="DNAHelp" class="form-text text-muted">DNA valid nucleotides ara C, G, T, A, c, g, t, a</small>
        <div *ngIf="!codeTest.pristine &&  codeTest.errors && codeTest.errors.isNotCorrect">
        <span class="text-danger">Please, enter a valid DNA CODE</span>
      </div>
  </div>
  <button type="submit" class="btn btn-primary"
  [disabled]="!formValidator.valid">
  Send</button>


</form>