<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-item nav-link active" routerLink="/app-home">Home</a>
    <a class="nav-item nav-link" routerLink="/app-genes">Genes</a>
    <a class="nav-item nav-link" routerLink="/app-diseases">Diseases</a>
  </nav><br>
  <div class="row justify-content-md-center">
    <div class="col-10">
        <div class="card" id="cardImg">
          <router-outlet>
              <!--When the limk is clicked or the URL is modified, 
                //the right component will be rendered in this section (router-outler)-->
          </router-outlet>
        </div>
    </div>
  </div>


</div>
