<router-outlet></router-outlet>

<!-- <div class="container well">
    <nav>
        <a routerLink="/new-reservation" routerLinkActive="active">
        New reservation</a> -- 
        <a routerLink="/reservation-management" routerLinkActive="active">
        Reservation management</a>      
    </nav><br>
    <router-outlet></router-outlet>
</div> -->