<!--
@name= dna-validator.component.html
@author= Quiles and Felipe
@version= 1.0
@date = 10-02-2021
-->
<h1 class="jumbotron">DNA-RNA VALIDATOR</h1>

<div class="d-flex justify-content-center">
    <form class="form-group" #DnaValidatorComponent="ngForm" (submit)="ValidateSequence()" action="">
        <legend>DNA-RNA Form</legend>
        <label>Sequence ID* &nbsp;</label>

        <!-- We use this ngIf to disable the inputs. -->
        <div *ngIf="flag == true">
            <p>
                <input type="text" class="form-control col-12" name="ID" #ID="ngModel" [(ngModel)]="SequenceSelected.$sequenceID"
                    disabled>
            </p>
        </div>
        <div *ngIf="flag == false">
            
            <p>
                <input type="text" class="form-control col-12" name="ID" #ID="ngModel" [(ngModel)]="SequenceSelected.$sequenceID"
                required>
            </p>
            <!-- Name Validator -->
            <div class="text-danger" *ngIf="ID.invalid && ID.dirty && ID.touched">
                <p><small *ngIf="ID.errors?.required">Invalid name.</small></p>
            </div>
        </div>
        <div>
            <label>Choose type: &nbsp;</label>
            <select class="form-control col-6" name="selector" [(ngModel)]="SequenceSelected.$type">
                <option value="DNA">DNA</option>
                <option value="RNA">RNA</option>
            </select>
        </div>
        <label>Input your sequence: </label><br>

        <!-- We use this ngIf to load one element or another depending on the flag. -->
        <div class="form-group" *ngIf="selector == 'DNA'">

            <textarea class="form-control" cols="30" rows="4" type="text" name="sequenceDNA" #sequenceDNA="ngModel"
                [(ngModel)]="SequenceSelected.sequence" oninput="this.value = this.value.toUpperCase()" appPatternDna appMinLengthDNARNA
                required></textarea>

            <!-- Sequence DNA Validator -->
            <div class="text-danger" *ngIf="sequenceDNA.invalid && sequenceDNA.dirty && sequenceDNA.touched">
                <p><small *ngIf="sequenceDNA.errors?.required">Please, a sequence is required.</small></p>
                <p><small *ngIf="sequenceDNA.errors?.incorrectDNALetter">Please, check only letters A, T, G and C are
                        here.</small></p>
                <p><small *ngIf="sequenceDNA.errors?.incorrectMinLength">You need at least a 9 nucleotides.</small></p>
            </div>

        </div>

        <div class="form-group" *ngIf="selector == 'RNA'">
            <textarea type="text" class="form-control" cols="30" rows="4" name="sequenceRNA" #sequenceRNA="ngModel"
                [(ngModel)]="SequenceSelected.sequence" oninput="this.value = this.value.toUpperCase()" appPatternRNA appMinLengthDNARNA
                required></textarea>

            <!-- Sequence RNA Validator -->
            <div class="text-danger" *ngIf="sequenceRNA.invalid && sequenceRNA.dirty && sequenceRNA.touched">
                <p><small *ngIf="sequenceRNA.errors?.required"> Please, a sequence is required.</small></p>
                <p><small *ngIf="sequenceRNA.errors?.incorrectRNALetter"> Please, check only letters A, U, G and C
                        are
                        here.</small></p>
                <p><small *ngIf="sequenceRNA.errors?.incorrectMinLength"> You need at least a 9 nucleotides.</small>
                </p>
            </div>
        </div>

        <!-- We use this ngIf to disable the inputs. -->
        <div *ngIf="flag == true">
            <button type="submit" class="btn btn-primary" [disabled]="!DnaValidatorComponent.valid" (click)="reset()">Add DNA/RNA Form</button>
        </div>
        <div *ngIf="flag == false">
            <button type="submit" class="btn btn-primary" [disabled]="!DnaValidatorComponent.valid">Add to DDBB</button>
            <p class="text-primary" *ngIf="submitFlag">The sequence is correctly added to DDBB</p>
        </div>
    </form>
    <div class="container well">
        <form #reservationFilterForm="ngForm" novalidate>
            <h2>Filters</h2>
            <table class="table table-striped">
                <tr>
                    <td>Filter by name</td>
                    <td>
                        <input type="text" [(ngModel)]="IDSequence" name="sequenceID" (ngModelChange)="filter()">
                    </td>
                </tr>
                <tr>
                    <td>Filter by type</td>
                    <td>
                        <select class="form-control col-3" [(ngModel)]="typeSequence" name="sequenceType"
                            (ngModelChange)="filter()">
                            <option value="All">All Types</option>
                            <option value="DNA">DNA</option>
                            <option value="RNA">RNA</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Current Page
                    </td>
                    <td>
                        {{currentPage}}
                    </td>
                </tr>
                <tr>
                    <td>Sequences per page</td>
                    <td>
                        <input type="number" [(ngModel)]="itemsPerPage" name="itemsPerPage">
                    </td>
                </tr>
                <tr>
                    <td>Sequences founded</td>
                    <td>{{SequenceFiltered.length}}</td>
                </tr>

            </table>
        </form>

        <br><br>
        <h2>DATA BASE</h2>
        <form #SequenceManagementForm="ngForm" novalidate>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Sequence ID</th>
                        <th>Sequence Type</th>
                        <th>Sequence</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let seq of
             SequenceFiltered | 
             paginate: {
                 itemsPerPage: itemsPerPage,
                 currentPage: currentPage
             }">
                        <td>{{seq.sequenceID}}</td>
                        <td>{{seq.type}}</td>
                        <td>{{seq.sequence}}</td>
                        <td>
                            <button class="btn btn-danger" (click)="removeRes(seq)">
                                DELETE</button>
                        </td>
                        <td>
                            <button class="btn btn-primary" (click)="onClick(seq)">
                                ACCESS
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="currentPage=$event" maxSize="5" directionLinks="true" autoHide="true">
            </pagination-controls>
        </form>
    </div>
</div>
