<div class="container">
    <nav>
        <a routerLink="/new-reservation">New reservation</a> -- 
        <a routerLink="/reservation-management">Reservation management</a>
    </nav><br>
    <router-outlet></router-outlet>
</div>