<h1 class="display-4">Genomics lab</h1>

<div *ngIf="!userLogged">
    <form #formCookie="ngForm" (submit)="sendForm()">
        <div class="form-group">
            <label for="">User id:</label>
            <input type="text" class="form-control"
            #userName="ngModel" [(ngModel)]="userProp.name"
            name="nameProp">
        </div>
        <button type="submit" class="btn btn-primary">
            Login</button>
    </form>
</div>

<div *ngIf="userLogged">
    Welcome back, {{userProp.name}}!
    <button (click)="logout()">Log out</button>
</div>
