<form #formValidator="ngForm">
  <input type="text" #fieldToVal="ngModel" 
    [(ngModel)]="prop" name="propName" appInputMinLength>
  <div *ngIf="fieldToVal?.errors?.isNotCorrect">
    Check input minimum length</div>

</form>