<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form #formTest="ngForm" action="">
        <p>Show this all the time</p>
        <div *ngIf="show; else notShow">
            <p>
                Show this only if "show" is true
            </p>
        </div>

        <ng-template #notShow>
            <p>
                Show this only if "show" is not true
            </p>
        </ng-template>
    </form>

</body>

</html>