<div class="container">
    <fieldset>
        <legend>Login</legend>
        <form #userLoginForm="ngForm" (submit)="connection()">
            <div class="form-group">
                <input type="text" #nick="ngModel" 
                [(ngModel)]="userConnected.$nick"
                name="nick" class="form-control"
                placeholder="User" required>
                <!-- The next div show nick errors -->
                <!-- valid is a property associated to Angular error object -->
                <div class="alert alert-danger" 
                [hidden]="nick.valid || nick.pristine">
                    Nick is required
                </div>

                <input type="password" #password="ngModel" 
                [(ngModel)]="userConnected.$password"
                name="password" class="form-control"
                placeholder="Password" required>
               
                <div class="alert alert-danger" 
                [hidden]="password.valid || password.pristine">
                    Password is required
                </div>

                <div class="alert alert-danger" 
                [hidden]="validUserData">
                    Either user nick or password is invalid. 
                    Please, try again.
                </div>
            </div>
            <div class="form-group col-sm-6">
                <button type="submit" class="btn btn-success">
                    Login
                </button>
                <button type="button" class="btn btn-primary"
                (click)= "register()">
                    Register
                </button>
            </div>
        </form>       
    </fieldset>
</div>
