<div class="container-fluid">
<h2>Introduce gene information</h2>

<form #geneForm ="ngForm" action="" (submit) = "geneEntry()">
    <div class="form-group">
        <label for=""><b>(*) Gene name:</b></label>
        <input type="text" name="geneName"  #geneName = "ngModel" [(ngModel)]="objGene.$geneName" required minlength="5">
   
        <div *ngIf = "!geneName.pristine && geneName.errors && geneName.errors.required"> 
            <span class="text-danger">Please, gene name is required</span>
        </div>
        <div class="text-danger" *ngIf = "!geneName.pristine && geneName.errors && geneName.errors.minlength"> 
            Please, min length of gene name is 5 char
        </div>
    </div>
    <div class="form-group">
        <label for="type"><b>(*) Type of molecule:</b></label>
        <div>
            <label for="male">DNA</label>
            <input type="radio" id="dna" name="typeMol" value="dna" #typeMol = "ngModel" [(ngModel)]="objGene.$typeMol" checked="checked" required>
        </div>
        <div>
            <label for="rna">RNA</label>
            <input type="radio" id="rna" name="typeMol" value="rna" #typeMol = "ngModel" [(ngModel)]="objGene.$typeMol">
        </div>
        <div *ngIf = "!typeMol.pristine && typeMol.errors && typeMol.errors.required"> 
            <span class="text-danger">Please, type molecule is required</span>
        </div>
    </div>
    <div class="form-group">
        <label for="sequence"><b>(*) Sequence:</b></label>
        <div *ngIf="typeMol.value === 'dna' ">
            <textarea id="sequence" name="sequenceGeneDNA" rows="4" cols="50" class="form-control" #sequenceGeneDNA = "ngModel" 
            [(ngModel)]="objGene.$sequenceGene" required appDnaValidator > </textarea>
            <div *ngIf = "!sequenceGeneDNA.pristine && sequenceGeneDNA.errors && sequenceGeneDNA.errors.required"> 
                <span class="text-danger">Please, type molecule is required</span>
            </div>
            <div *ngIf="!sequenceGeneDNA.pristine &&  sequenceGeneDNA.errors && sequenceGeneDNA.errors.isNotCorrect">
                <span class="text-danger">Please, enter a valid DNA CODE</span>
            </div>
        </div>
        <div *ngIf="typeMol.value === 'rna' ">
            <textarea  name="sequenceGeneRNA" rows="4" cols="50" class="form-control" #sequenceGeneRNA = "ngModel" 
            [(ngModel)]="objGene.$sequenceGene" required appRnaValidator > </textarea>
            <div *ngIf = "!sequenceGeneRNA.pristine && sequenceGeneRNA.errors && sequenceGeneRNA.errors.required"> 
                <span class="text-danger">Please, type molecule is required</span>
            </div>
            <div *ngIf="!sequenceGeneRNA.pristine &&  sequenceGeneRNA.errors && sequenceGeneRNA.errors.isNotCorrect">
                <span class="text-danger">Please, enter a valid RNA CODE</span>
            </div>
        </div>
    </div>    
    <div class="form-group">   
           <label for="numExons"><b>Number of exons: </b></label>
           <input type="number" id="numExons" name="numExons" #numExons = "ngModel" [(ngModel)]="objGene.$numExons" > 
            <br>
           <label for="numIntrons"><b>Number of introns: </b></label>
           <input type="number" id="numIntrons" name="numIntrons"  #numIntrons = "ngModel" [(ngModel)]="objGene.$numIntrons" > 
            
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!geneForm.valid">Submit</button>
    



</form>
</div>