#menuBar{
list-style-type: none;
margin: 0px;
padding: 0px;
overflow: hidden;;

}
li{
    float: left;
}
li:hover{
    background-color: black;
    color: white;
    
}
a{
    display: block;
    padding: 10px;
    margin:10px;
    
    color: white;
    text-decoration: none;
}

a:link{
    text-decoration: none;
    color:white;
}
.loginRegister{
    float: right;
}  