
<h1 class="display-4">Genomics lab</h1>

<form #formValidator="ngForm" (submit)="sendForm()">
  <div class="form-group">
    <label for="codeTestName">DNA Code:</label>
      <input name="codeTestName" type="text" class="form-control"
        placeholder="Introduce your DNA Code">
        <small id="DNAHelp" class="form-text text-muted">DNA valid nucleotides ara C, G, T, A, c, g, t, a</small>
  </div>
  <button type="submit" class="btn btn-primary">
  Send</button>
</form>