<div class="container-fluid">
    <h2>Introduce disease information</h2>
    
    <form #diseaseForm ="ngForm" action="" (submit) = "diseaseEntry()">

        <div class="form-group">
            <label for="typeDisease"><b>(*) Type disease:</b></label>
            <select name="diseaseType"  #diseaseType = "ngModel" [(ngModel)]="objDisease.$type" required>
                <option value="monogenetics">Monogenetics</option>
                <option value="chromosomal">Chromosomal</option>
                <option value="multifactorials">Multifactorials</option>
            </select>
        </div>
        <div class="form-group">
            <label for="nameDisease"><b>(*) Name of disease:</b></label>
            
            <div *ngIf="diseaseType.value === 'monogenetics' ">
                <div>
                    <label for="phenylketonuria">Phenylketonuria</label>
                    <input type="radio" name="diseaseName" value="phenylketonuria" #diseaseName = "ngModel" [(ngModel)]="objDisease.$diseaseName" checked="checked" required>
                </div>
                <div>
                    <label for="sickle cell disease">Sickle cell disease</label>
                    <input type="radio" name="nameDisease" value="sickle cell disease" #diseaseName = "ngModel" [(ngModel)]="objDisease.$diseaseName">
                </div>
                <div>
                    <label for="cystic fibrosis">Cystic fibrosis</label>
                    <input type="radio" name="nameDisease" value="cystic fibrosis" #diseaseName = "ngModel" [(ngModel)]="objDisease.$diseaseName">
                </div>

            </div>
            <div *ngIf="diseaseType.value === 'chromosomal' ">
                <div>
                    <label for="down syndrome">Down syndrome</label>
                    <input type="radio" name="diseaseName" value="down syndrome" #diseaseName = "ngModel" [(ngModel)]="objDisease.$diseaseName" checked="checked" required>
                </div>
                <div>
                    <label for="patau syndrome">Patau syndrome</label>
                    <input type="radio" name="nameDisease" value="patau syndrome" #diseaseName = "ngModel" [(ngModel)]="objDisease.$diseaseName">
                </div>
            </div>

            <div *ngIf="diseaseType.value === 'multifactorials' ">
                <div>
                    <label for="cancer">Cancer</label>
                    <input type="radio" name="diseaseName" value="cancer" #diseaseName = "ngModel" [(ngModel)]="objDisease.$diseaseName" checked="checked" required>
                </div>
                <div>
                    <label for="heart disease">Heart disease</label>
                    <input type="radio" name="nameDisease" value="heart disease" #diseaseName = "ngModel" [(ngModel)]="objDisease.$diseaseName">
                </div>
            </div>
            
        </div>

        <div class="form-group">
            <label for="linesInvestigation"><b>Line(s) of investigation that study the disease: </b></label><br>
            <span *ngFor="let x of lineInvestigation">
                <label for="{{x.line}}">{{x.line}}</label>
                <input type = "checkbox" name="{{x.line}}" value="{{x.line}}" (change)="change($event, x)"><br>
            
            </span>
        </div>

        <button class="btn btn-primary"  type="submit" [disabled]="!diseaseForm.valid">Submit</button>
    


    </form>

</div>

