<!--
@name= login.component.html
@author= Quiles and Felipe
@version= 1.0
@date = 12-02-2021
-->
<h1 class="d-flex justify-content-center jumbotron ">Login</h1>

<div class="d-flex justify-content-center">
    <form class="form-group" #LoginComponent="ngForm" (submit)="login()" action="">
        <legend>Login Form</legend>
        <div *ngIf="showEditForm == false">
            <div>
                <label>Username* &nbsp;</label><br>
                <input type="text" class="form-control col-12" name="username" #username="ngModel"
                    [(ngModel)]="userSelected.$username" required>

                <!-- Username Validator -->
                <div class="text-danger"
                    *ngIf="(username.invalid || flagUsername == false) && username.dirty && username.touched">
                    <small class="text-danger" *ngIf="username.errors?.required">Username is required. </small>
                </div>
            </div>
            <div>
                <label>Password* &nbsp;</label><br>
                <input type="password" class="form-control col-12" name="password" #password="ngModel"
                    [(ngModel)]="userSelected.$password" required>

                <!-- Username Validator -->
                <div class="text-danger" *ngIf="password.invalid && password.dirty && password.touched">
                    <small class="text-danger" *ngIf="password.errors?.required">Password is required</small>
                </div>
            </div>

            <div>
                <small id="leftSmall">Required <strong>*</strong></small>
            </div>
            <div>
                <button type="submit" class="btn btn-primary col-6" [disabled]="!LoginComponent.valid">Login</button>

            </div>
        </div>
        <div *ngIf="showEditForm == true">
            <div>
                <label>Username* &nbsp;</label><br>
                <input type="text" class="form-control col-12" name="username" #username="ngModel"
                    [(ngModel)]="userSelected.$username" required>

                <!-- Username Validator -->
                <div class="text-danger"
                    *ngIf="(username.invalid || flagUsername == false) && username.dirty && username.touched">
                    <small class="text-danger" *ngIf="username.errors?.required">Username is required. </small>
                </div>
            </div>
            <div>
                <label>Password* &nbsp;</label><br>
                <input type="password" class="form-control col-12" name="password" #password="ngModel"
                    [(ngModel)]="userSelected.$password" required>

                <!-- Username Validator -->
                <div class="text-danger" *ngIf="password.invalid && password.dirty && password.touched">
                    <small class="text-danger" *ngIf="password.errors?.required">Password is required</small>
                </div>
            </div>

            <div>
                <small id="leftSmall">Required <strong>*</strong></small>
            </div>
            <div>
                <button type="submit" class="btn btn-primary col-6" (click)="reset()">Login Form</button>

            </div>
        </div>

        <div>
            <div *ngIf="flag == true" class="text-primary form-group">
                <br>
                <p>This is your data:</p>
                <label>Name</label>
                <input type="text" class="form-control" placeholder="{{userSelected.$name}}" readonly>
                <label> Surname</label>
                <input type="text" class="form-control" placeholder="{{userSelected.$surname}}" readonly>
                <label>Email</label>
                <input type="text" class="form-control" placeholder="{{userSelected.$email}}" readonly>
            </div>
            <p *ngIf="flag == false" class="text-danger">Username or password are incorrect</p>
        </div>


    </form>
    <div class="container well">
        <form #loginFilterForm="ngForm" novalidate>
            <table class="table table-striped">
                <tr>
                    <td>Filter by name</td>
                    <td>
                        <input type="text" [(ngModel)]="nameFilter" name="filterName" (ngModelChange)="filter()">
                    </td>
                </tr>

                <tr>
                    <td>Filter by username</td>
                    <td>
                        <input type="text" [(ngModel)]="usernameFilter" name="filterUsername"
                            (ngModelChange)="filter()">
                    </td>
                </tr>


                <tr>
                    <td>
                        Current Page
                    </td>
                    <td>
                        {{currentPage}}
                    </td>
                </tr>
                <tr>
                    <td>User per page</td>
                    <td>
                        <input type="number" [(ngModel)]="itemsPerPage" name="itemsPerPage">
                    </td>
                </tr>
                <tr>
                    <td>Users found</td>
                    <td>{{userFiltered.length}}</td>
                </tr>

            </table>
        </form>
        <form #loginManagementForm="ngForm" novalidate>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Email</th>
                        <th>User</th>
                        <th>Password</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of
                    userFiltered | 
                 paginate: {
                     itemsPerPage: itemsPerPage,
                     currentPage: currentPage
                 }">
                        <td>{{user.name}}</td>
                        <td>{{user.surname}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.password}}</td>
                        <td>
                            <button class="btn btn-danger" (click)="removeUser(user)">
                                DELETE</button>
                        </td>
                        <td>
                            <button class="btn btn-primary" (click)="onClick(user)">
                                ACCESS
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="currentPage=$event" maxSize="5" directionLinks="true" autoHide="true">
            </pagination-controls>
        </form>
    </div>
</div>